<nav class="navbar navbar-component navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
    <div class="container-fluid">
        <a class="navbar-brand d-flex justify-content-center align-items-center m-0 mr-auto ml-md-3 my-2 my-md-0 mw-100"
            href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
            <div class="sidebar-brand-text mx-3"><span>GLOBY</span></div>
        </a>

        <a [routerLink]="['/offering']"
            class="justify-content-center align-items-center m-0 mr-auto ml-md-3 my-2 my-md-0 mw-100">Offering</a>
        <a [routerLink]="['/team']"
            class="justify-content-center align-items-center m-0 mr-auto ml-md-3 my-2 my-md-0 mw-100">Team</a>


        <div class="d-none d-sm-block topbar-divider"></div>

        <a class="justify-content-center align-items-center m-0 mr-auto ml-md-3 my-2 my-md-0 mw-100"
            [routerLink]="['/login']">Login</a>
    </div>
</nav>