<div style="margin: 25px;">
    <div *ngIf="actProject.state == 'pending'">
        <div *ngIf="actProject.startedBy.id != me.id">
            <h1>Want to accept the project offering?</h1>
            <app-display-partner-class-info [project]="actProject"></app-display-partner-class-info>
            <br>
            <app-message-board [sender]="actSender" [recipient]="actProject.partnerClass" [myClass]="actClass" [myProject]="actProject"></app-message-board>
            <br>
            <div class="form-group" style="margin-right: 50px">
                <form [formGroup]="projectForm" (ngSubmit)="acceptOffer()">
                    <button class="btn btn-outline-success btn-lg" [disabled]="btnAcceptable">Accept Project</button>
                </form>
                <div *ngIf=accepted>
                    <br>
                    <div class="alert alert-success" role="alert">
                        You accepted the project offering successfully!
                    </div>
                </div>
            </div> 
        </div>
        <div *ngIf="actProject.startedBy.id == me.id">
            <h1>Waiting for other teacher to accept project...</h1>
            <app-display-partner-class-info [project]="actProject"></app-display-partner-class-info>
        </div>
    </div>
    <div *ngIf="actProject.state == 'ongoing'">
        <h1>Talk to your partner teacher...</h1>
        <app-display-partner-class-info [project]="actProject"></app-display-partner-class-info>
        <br>
        <app-message-board [sender]="actSender" [recipient]="actProject.partnerClass.teacher" [myClass]="actClass" [myProject]="actProject"></app-message-board>
    </div>
    <div *ngIf="actProject.state == 'done'">
        <h1>Done</h1>
    </div>
</div>
