<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Globy</h4>
        <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label for="email"></label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required"> is required</div>
                    </div>
                </div>      

                <div class="form-group">
                    <label for="password"></label>
                    <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required"> is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="schoolName"></label>
                    <input type="text" formControlName="schoolName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.schoolName.errors }" />
                    <div *ngIf="submitted && f.schoolName.errors" class="invalid-feedback">
                        <div *ngIf="f.schoolName.errors.required"> is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="firstName"></label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required"> is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName"></label>
                    <input type="text" formControlName="" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required"> is required</div>
                    </div>
                </div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                <div *ngIf="success" class="alert alert-danger mt-3 mb-0">{{success}}</div>
            </form>
        </div>
    </div>
</div>