<div fxLayout="column" fxLayoutAlign="space-around center" class="footer-component">
    <div class="footer-icons">
        <span>
            <mat-icon>facebook</mat-icon>
        </span>
        <span>
            <mat-icon>facebook</mat-icon>
        </span>
        <span>
            <mat-icon>facebook</mat-icon>
        </span>
    </div>
    <div class="footer-text">
        <span>Privacy Policy </span>
        <span>Impressum</span>
        <a [routerLink]="['/about']">
            <span>About</span>
        </a>
        <span>© 2020 Globy</span>
    </div>
</div>