<div classname="games">
    <div *ngIf="!gameJoined" class="gameSelection">
        <button (click)="onJoinGameButton()">Join Game</button>
        <br>
        <select name="gameselection" [(ngModel)]="selectedGame" id="game">
            <option value="quiz">Quiz</option>
            <option value="alias">Alias</option>
            <option value="drawit">Draw It</option>
        </select>
        <input [(ngModel)]="username">
        <input [(ngModel)]="sessionId">
        <input [(ngModel)]="taskId">
    </div>

    <div *ngIf="gameJoined && isSelected('quiz')" class="gameScreen">
        <app-quiz (disconnect)="onDisconnect($event)" [username]="username " [taskId]="taskId " [sessionId]="sessionId "></app-quiz>
    </div>


    <div *ngIf="gameJoined && isSelected( 'alias') " class="gameScreen ">
        <app-alias [username]="username " [taskId]="taskId " [sessionId]="sessionId " (disconnect)="onDisconnect($event) ">
        </app-alias>
    </div>

    <div *ngIf="gameJoined && isSelected( 'drawit') " class="gameScreen ">
        <app-draw-it [username]="username " [taskId]="taskId " [sessionId]="sessionId " (disconnect)="onDisconnect($event) "></app-draw-it>
    </div>
</div>