<div classname="games">
    <div *ngIf="!gameJoined" class="gameSelection">
        <button (click)="onJoinGameButton()">Join Game</button>
        <br>
        <select name="gameselection" [(ngModel)]="selectedGame" id="game">
            <option value="quiz">Quiz</option>
            <option value="alias">Alias</option>
            <option value="drawit">Draw It</option>
            <option value="truthlie">2 Truths 1 Lie</option>
        </select>
        <input [(ngModel)]="username">
        <input [(ngModel)]="sessionId">
        <input [(ngModel)]="taskId">
    </div>

    <div *ngIf="gameJoined && isSelected('quiz')" class="gameScreen">
        <app-quiz (disconnect)="onDisconnect($event)" [username]="username " [taskId]="taskId" [sessionId]="sessionId ">
        </app-quiz>
    </div>


    <div *ngIf="gameJoined && isSelected( 'alias') " class="gameScreen ">
        <app-alias (disconnect)="onDisconnect($event)" [username]="username " [taskId]="taskId "
            [sessionId]="sessionId">
        </app-alias>
    </div>

    <div *ngIf="gameJoined && isSelected( 'drawit') " class="gameScreen ">
        <app-draw-it (disconnect)="onDisconnect($event)" [username]="username " [taskId]="taskId "
            [sessionId]="sessionId"></app-draw-it>
    </div>

    <div *ngIf="gameJoined && isSelected('truthlie') " class="gameScreen ">
        <app-truthlie (disconnect)="onDisconnect($event)" [username]="username " [taskId]="taskId "
            [sessionId]="sessionId"></app-truthlie>
    </div>

</div>