<div class="forgot-password-component-background"></div>
<div class="forgot-password-component">
    <mat-card>
        <div fxFlex="1 1 50%" class="image-left">
            <img class="myFlexedImage" src="/assets/pexels-christina-morillo-1181233.jpg">
        </div>
        <div fxFlex="1 1 100%" class="forgot-password-form">
            <h4 class="text-dark mb-4">Don't worry, you can restore your user easily!</h4>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-groups">
                    <div class="form-group">
                        <input placeholder="Enter Email Address..." type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                        </div>
                    </div>
                </div>

                <button [disabled]="loading" class="btn btn-primary btn-block text-white btn-user" type="submit">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Restore account
                </button>
            </form>

            <hr>

            <div class="text-center"><a [routerLink]="['/register']" class="small">Don't have an acount yet?</a></div>
            <div class="text-center small" >Learn more about <a [routerLink]="['/']">WHALOO</a>
            </div>
        </div>
    </mat-card>
</div>