.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}

.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.quiz-game {
    background-color: rgb(236, 248, 248);
    min-width: 300px;
    padding: 0;
    border: 2px solid rgba(0, 124, 124);
}

.connecting {
    font-size: 150%;
}

.game-header {
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
    background: rgb(0, 124, 124);
    color: rgba(255, 255, 255, 0.85);
    padding: 1em;
}

.logo {
    font-size: 150%;
    line-height: 2em;
}

.game-content {
    padding: 1em;
    font-size: 130%;
}

.players-list {
    background: white;
    padding: 0.5em;
    margin: 0.25em;
    margin-right: 1em;
    max-width: 200px;
    word-break: break-all;
}

.player {
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.25em;
}

.list-header {
    font-weight: bold;
    padding: 0.25em;
}

.settings {
    border-left: 2px solid rgba(0, 124, 124);
}

.explaining {
    background: rgba(255, 255, 255, 0.75);
    font-size: 140%;
}

.word {
    font-weight: bold;
    color: rgb(0, 59, 59);
}

.timer {
    display: inline-block;
    font-size: 150%;
    background-color: rgb(255, 255, 255);
    padding: 0.5em;
    margin: 0.125em;
}

.help {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.help-close {
    float: right;
}

.help-content {
    background-color: rgb(255, 255, 255);
    margin: 20% auto;
    padding: 1em;
    border: 1px solid #888;
    width: 60%;
}

.help-button {
    background-color: rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    font-weight: bold;
    font-size: 150%;
}