<div class="container-fluid truthlie-game">
    <div *ngIf="game" class="row">
        <div class="col">
            <div class="row game-header">
                <div class="col logo">2 Truths 1 Lie</div>
                <div class="col-auto">
                    <button class="help-button" aria-label="help" (click)="toggleHelp()">
                        ?
                    </button>
                </div>
            </div>
            <div class="row justify-content-center game-content">
                <div class="col">
                    <!-- CONNECTED -->
                    <div *ngIf="gamesService.connected">
                        <!-- LOBBY -->
                        <div *ngIf="game.state == 'lobby'">
                            <div>
                                <div *ngIf="username !== game.currentPlayer" class="mt-2">Please wait for
                                    {{ game.currentPlayer }}
                                    to type in two truths and one lie...
                                </div>
                                <div *ngIf="username === game.currentPlayer" class="mt-2 mb-2">
                                    It is your turn! Please enter two truths and one lie about yourself. </div>
                            </div>
                            <!-- only first player connected can start the game -->
                            <div *ngIf="username === game.currentPlayer" class="mt-2 mb-2 text-center">
                                <input class="truth mb-1 w-75" [(ngModel)]="truth1" placeholder="A truth about you...">
                                <input class="truth mb-1 w-75" [(ngModel)]="truth2"
                                    placeholder="Another truth about you...">
                                <input class=" lie mb-1 w-75" [(ngModel)]="lie" placeholder="A lie about you...">
                                <br>
                                <button class=" btn btn-success" [disabled]="!truth1 || !truth2 || !lie"
                                    (click)="startGame()">Start Game</button>
                            </div>
                        </div>
                        <!-- GAME RUNNING -->
                        <div *ngIf="game.state == 'running'">
                            <div class="row">
                                <!-- ALL PLAYERS -->
                                <div class="col text-center">
                                    <div>Time Left:</div>
                                    <div class="timer">{{countdown}}</div>
                                </div>
                            </div>
                            <!-- PLAYER EXPLAINING -->
                            <div *ngIf="username === game.currentPlayer">
                                <div class="col text-center">
                                    <div>Your submission:</div>
                                    <div class="truthdisplay">{{truth1}}</div>
                                    <div class="truthdisplay">{{truth2}}</div>
                                    <div class="liedisplay">{{lie}}</div>
                                </div>
                            </div>

                            <!-- PLAYER GUESSING -->
                            <div *ngIf="username !== game.currentPlayer">
                                <div> Guess the lie! </div>
                                <mat-radio-group class="options" [(ngModel)]="chosen">
                                    <mat-radio-button class="options-button" *ngFor="let option of game.options"
                                        [value]="option">
                                        {{option}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>

                        <div *ngIf="game.state == 'result'">
                            <div *ngIf="username == game.currentPlayer">
                                <div> Players who guessed the lie correctly: </div>
                                <div *ngFor="let g of correctPlayers">
                                    {{g}}
                                </div>
                                <div *ngIf="game.next" class="mt-4 text-center">
                                    <button class="btn btn-success" (click)="continueGame()">Continue Game</button>
                                </div>

                            </div>
                            <div *ngIf="username !== game.currentPlayer">
                                <div *ngIf="correct">
                                    You guessed the lie. Well done!
                                </div>
                                <div *ngIf="!correct">
                                    You guessed wrong.
                                </div>
                                <div class="mt-2">
                                    The lie was: {{game.lie}}
                                </div>
                            </div>
                            <div *ngIf="!game.next" class="mt-4 text-center">
                                The game is over! You can disconnect now.
                            </div>
                        </div>
                    </div>
                    <!-- NOT CONNECTED-->
                    <div *ngIf="!gamesService.connected">
                        <div class="row connecting" *ngIf="!gamesService.connected">
                            Connecting...
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- sidebar with playerslist and game settings when connected-->
        <div *ngIf="gamesService.connected" class="col-auto settings">
            <div class="row justify-content-end">
                <div class="players-list">
                    <div class="list-header">Connected Players:</div>
                    <div class="player" *ngFor="let player of game.players">
                        {{ player }} <span *ngIf="username === player">(me)</span>
                    </div>
                </div>
            </div>
            <div class="row mt-2 mb-2 justify-content-center">
                <button class="btn btn-secondary" (click)="disconnectGame()">Disconnect</button>
            </div>
        </div>
    </div>

    <div *ngIf="showHelp" class="help">
        <div class="help-content">
            <button class="help-close" mat-mini-fab color="accent" aria-label="close help" (click)="toggleHelp()">
                <mat-icon>close</mat-icon>
            </button>
            <h1>How to play 2 Truth and 1 Lie</h1>
            <p>
                Please start the game once everybody is ready.<br> Think of 2 true and 1 false fact about yourself. <br>
                Write down the true statements in the green boxes and the false one in the red box.
                <br>Talk to each other and try to find out which of the statements is the lie!
                If one of the statements is for example "I have an older brother", you could ask the person more about
                their brother. <br>
                Select your guess before the time is up.
            </p>
        </div>
    </div>
    <div *ngIf="!game" class="row">
        Creating Game session. Please wait...
    </div>
</div>