<div fxLayoutGap="25px" fxLayout="column" style="margin-left: 50px; margin-top: 50px">
    <form [formGroup]="clsSelecForm" class="class-selection">
        For which class would you like to plan next meeting?
        <select formControlName="selectedClass" (change)="classSelected()" class="form-control fa-pull-right"
            style="margin-right: 10vw; max-width: 300px;">
            <option [ngValue]="null" disabled>Select your class</option>
            <option *ngFor="let selectedClass of user_classes" [ngValue]="selectedClass">{{selectedClass.name}}</option>
        </select>
    </form>

    <div *ngIf="isClassSelected && projectList.length !== 0; else elseBlock"> 
        <form  [formGroup]="projectSelectForm" class="project-selection">
            Please Choose Project: 
            <select formControlName="selectedProject" (change)="projectSelected()" class="form-control fa-pull-right" style="margin-right: 10vw; max-width: 300px;">
                <option [ngValue]="null" disabled>Select your Project</option>
                <option *ngFor="let selectedProject of projectList" [ngValue]="selectedProject">{{selectedProject.classname}}: {{selectedProject.schoolName}}
                </option>
            </select>
        </form>
    </div>

    <ng-template #elseBlock>
        <div *ngIf="isClassSelected">
           <h1> No Project for Selected Class. </h1>
        </div>
    </ng-template>


    <div *ngIf="isProjectSelected" class="planning-section">
        <div class="card" style="width: 70vmax;">
            <div class="card-body">
                <h3 class="card-title">
                    You're planning for: <span class="text-primary">{{selectedClass.name}}</span>
                    and Project: <span class="text-primary">{{selectedProject.classname}}: {{selectedProject.schoolName}}</span>
                </h3>

                <div class="planning-section-form">
                    <form [formGroup]="planningSectionForm">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="0 0 45%">When would you like to meet?</div>
                            <mat-form-field>
                                <mat-label>Choose a date</mat-label>
                                <input readonly (click)="picker.open()"
                                [min]="minDate" (dateInput)="onDateSelected($event)" matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker></mat-datepicker>
                            </mat-form-field>

                            <div class="time-picker">
                                <input formControlName="selectedTime" placeholder="Choose a Time" 
                                [format]="24" 
                                [ngxTimepicker]="timePicker" readonly>
                                <ngx-material-timepicker #timePicker></ngx-material-timepicker>
                           </div>

                        </div>

                        <div class="padding-fix" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="0 0 45%">How long would you like to meet?</div>
                            <select formControlName="selectedDuration" (change)="durationSelected()"
                                class="form-control form-control-sm fa-pull-right" style="max-width: 300px;">
                                <option [ngValue]="null" disabled>Please Select Duration of meeting</option>
                                <option [ngValue]="selectedDuration" *ngFor="let selectedDuration of durations">
                                    {{selectedDuration}} mins</option>
                            </select>
                        </div>

                        <div class="padding-fix" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="0 0 45%">How would you like to organize the students?</div>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <button (click)="selectArrangement('tandem')" type="button" class="btn"
                                    [ngClass]="selectedArrangement == 'tandem' ? 'btn-primary' : 'btn-light'">Tandem</button>
                                <button (click)="selectArrangement('wholeclass')" type="button" class="btn"
                                    [ngClass]="selectedArrangement == 'wholeclass' ? 'btn-primary' : 'btn-light'">Whole
                                    Class</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card" style="width: 70vmax; margin-top: 50px;">
            <div class="card-header" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="0 0 45%">Create Task List for meeting:</div>
                <select (change)="typeSelected($event)" class="form-control form-control-sm fa-pull-right"
                    style="max-width: 300px;">
                    <option [ngValue]="null" disabled>Please Select Type of Task</option>
                    <option *ngFor="let typeOfTask of typeOfTasks">{{typeOfTask}}</option>
                </select>
            </div>

            <div *ngIf="selectedTypeOfTask === 'quiz'" style="width: 70vmax;">
                <!-- CREATE QUIZ FORM -->
                <div class="card-body">
                    <app-quiz-game-config [isPlanMeetingView]="true" (selectedQuizEvent)="selectedQuizzes=($event)"></app-quiz-game-config>
                </div>
            </div>

            <div *ngIf="selectedTypeOfTask === 'alias'" style="width: 70vmax;">
                <!-- CREATE ALIAS FORM -->
                <div class="card-body">
                    <app-alias-game-config [isPlanMeetingView]="true" (selectedAliasesEvent)="selectedAliases=($event)"></app-alias-game-config>
                </div>
            </div>

            <div *ngIf="selectedTypeOfTask === 'draw-it'" style="width: 70vmax;">
                <!-- CREATE DRAW-IT GAME FORM -->
                <div class="card-body">
                    <app-draw-it-game-config [isPlanMeetingView]="true" (selectedDrawItsEvent)="selectedDrawIts=($event)"></app-draw-it-game-config>
                </div>
            </div>

            <!--<div *ngIf="selectedTypeOfTask === '2t1l'" style="width: 70vmax;">
                <div class="card-body">
                    2 Truths 1 Lie component Here
                </div>
            </div>-->

            <div *ngIf="selectedTypeOfTask === 'simple-task'" style="width: 70vmax;">
                <!-- CREATE SIMPLE TASK FORM -->
                <div class="card-body">
                    <app-simple-task-config (simpleTasksEvent)="simpleTasks=($event)"></app-simple-task-config>
                </div>
            </div>

            <div class="card-body">
                <mat-card-header>
                    <mat-card-title>This Meeting's Tasks:</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div *ngIf="selectedQuizzes.length==0 && selectedAliases.length==0 && selectedDrawIts.length==0 && simpleTasks.length==0">
                        <mat-card-subtitle>No tasks selected</mat-card-subtitle>
                    </div>
                    <div *ngIf="selectedQuizzes.length>0">
                        <mat-card-subtitle class="mt-3">Quizzes</mat-card-subtitle>
                        <mat-accordion class="headers-align">
                            <div *ngIf="selectedAliases"> <!--else loadingAliasContent">-->
                                <mat-expansion-panel *ngFor="let selectedQuiz of selectedQuizzes" hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{ selectedQuiz.name }}
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            {{ selectedQuiz.description }}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                </mat-expansion-panel>
                            </div>
                        </mat-accordion>
                    </div>
                    <div *ngIf="selectedAliases.length>0">
                        <mat-card-subtitle class="mt-3">Alias Games</mat-card-subtitle>
                        <mat-accordion class="headers-align">
                            <div *ngIf="selectedAliases">
                                <!--else loadingAliasContent">-->
                                <mat-expansion-panel *ngFor="let selectedAlias of selectedAliases" hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{ selectedAlias.name }}
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            {{ selectedAlias.description }}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                </mat-expansion-panel>
                            </div>
                        </mat-accordion>
                    </div>
                    <div *ngIf="selectedDrawIts.length>0">
                        <mat-card-subtitle class="mt-3">Draw-It Games</mat-card-subtitle>
                        <mat-accordion class="headers-align">
                            <div *ngIf="selectedAliases">
                                <!--else loadingAliasContent">-->
                                <mat-expansion-panel *ngFor="let selectedDrawIt of selectedDrawIts" hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{ selectedDrawIt.name }}
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            {{ selectedDrawIt.description }}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                </mat-expansion-panel>
                            </div>
                        </mat-accordion>
                    </div>
                    <div *ngIf="simpleTasks.length>0">
                        <mat-card-subtitle class="mt-3">Simple Tasks</mat-card-subtitle>
                        <mat-accordion class="headers-align">
                            <div *ngIf="simpleTasks">
                                <mat-expansion-panel *ngFor="let simpleTask of simpleTasks" hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{ simpleTask.name }}
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            {{ simpleTask.description }}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                </mat-expansion-panel>
                            </div>
                        </mat-accordion>
                    </div>
                </mat-card-content>
            </div>
        </div>
        <br>
        <button [disabled]="submittingFormLoader" (click)="submitForm()" type="button" class="btn btn-primary submit-btn">
            <span *ngIf="submittingFormLoader" class="spinner-border spinner-border-sm mr-1"></span>
            Confirm
        </button>

    </div>
</div>