<button mat-raised-button class="fas fa-arrow-left back-button" [routerLink]="['/games-teacher/overview']"></button>

<mat-card-header>
    <mat-card-title>Quiz Settings</mat-card-title>
</mat-card-header>

<app-messages></app-messages>

<mat-card-content *ngIf="questions && quizzes; else loadingContent">
    <mat-tab-group>
        <mat-tab label="Questions">
            <mat-card>
                <mat-accordion class="headers-align">
                    <div class="mb-2">
                        <mat-accordion>
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Create New Question
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <app-question-form [quest]="newQuestion" (questionChange)="onCreateQuestion($event)">
                                </app-question-form>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <mat-expansion-panel *ngFor="let question of questions" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ question.name }}
                            </mat-panel-title>
                            <mat-panel-description *ngIf="requestDelete == question._id; else quizDescription">
                                Are you sure you want to delete this question and remove it from all quizzes?
                                <button class="btn btn-sm btn-secondary"
                                    (click)="$event.stopPropagation(); cancelRequestDelete()">Cancel</button>
                                <button class="btn btn-sm btn-danger"
                                    (click)="$event.stopPropagation(); deleteQuestion(question)">Yes,
                                    delete</button>
                            </mat-panel-description>
                            <ng-template #quizDescription>
                                <mat-panel-description>
                                    {{ question.question }}
                                    <mat-icon class="headers-align-right" title="delete question"
                                        (click)="$event.stopPropagation(); requestDeleteQuestion(question)">
                                        delete_forever</mat-icon>
                                </mat-panel-description>
                            </ng-template>
                        </mat-expansion-panel-header>
                        <app-question-form [quest]="question" (questionChange)="onQuestionChange($event)">
                        </app-question-form>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card>
        </mat-tab>
        <mat-tab label="Quizzes">
            <mat-card>
                <mat-accordion class="headers-align">
                    <div class="mb-2">
                        <mat-accordion>
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Create New Quiz
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <app-quiz-form [game]="newQuiz" [allQuestions]="questions"
                                    (quizChange)="onCreateQuiz($event)"></app-quiz-form>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <mat-expansion-panel *ngFor="let quiz of quizzes" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ quiz.name }}
                            </mat-panel-title>
                            <mat-panel-description>
                                {{ quiz.description }}
                                <mat-icon class="headers-align-right" title="delete quiz"
                                    (click)="$event.stopPropagation(); deleteQuiz(quiz)">
                                    delete_forever</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <app-quiz-form [game]="quiz" [allQuestions]="questions" (quizChange)="onQuizChange($event)">
                        </app-quiz-form>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</mat-card-content>
<ng-template #loadingContent>
    <mat-card-content>
        <div>
            <mat-spinner class="loading" [diameter]="50"></mat-spinner>
            <span class="loading">Loading Quizzes and Questions...</span>
        </div>
    </mat-card-content>
</ng-template>