<button mat-raised-button class="fas fa-arrow-left back-button" [routerLink]="['/games-teacher/overview']"></button>

<mat-card-header>
    <mat-card-title>Quiz Settings</mat-card-title>
</mat-card-header>

<app-messages></app-messages>

<mat-card-content>
    <mat-tab-group>
        <mat-tab label="Questions">
            <mat-accordion class="headers-align">
                <div class="mt-2 mb-2">
                    <mat-accordion>
                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Create New Question
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <app-question-form [quest]="newQuestion" (questionChange)="onCreateQuestion($event)"></app-question-form>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <mat-expansion-panel *ngFor="let question of questions" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ question.name }}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{ question.question }}
                            <mat-icon class="headers-align-right" title="delete question"
                                (click)="deleteQuestion(question)">
                                delete_forever</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-question-form [quest]="question" (questionChange)="onQuestionChange($event)">
                    </app-question-form>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
        <mat-tab label="Quizzes">
            <mat-accordion class="headers-align">
                <div class="mt-2 mb-2">
                    <mat-accordion>
                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Create New Quiz
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <app-quiz-form [game]="newQuiz" (quizChange)="onCreateQuiz($event)"></app-quiz-form>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <mat-expansion-panel *ngFor="let quiz of quizzes" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ quiz.name }}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{ quiz.description }}
                            <mat-icon class="headers-align-right" title="delete quiz" (click)="deleteQuiz(quiz)">
                                delete_forever</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-quiz-form [game]="quiz" (quizChange)="onQuizChange($event)">
                    </app-quiz-form>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
    </mat-tab-group>
</mat-card-content>