table {
  width: 100%;
}


.mat-sort-header-container {
    display:flex;
    justify-content:center;
  }

// .mat-form-field {
//   font-size: 14px;
//   width: 100%;
// }

// td, th {
//   width: 0%;
// }

td {
  text-align: left;
}

.red {
  color: #DC3545;
  &:hover {
    color: #C82333;

  }
}


.mat-column-Assigned-to-class-- {
  width: 20%;
}

.mat-column-Delete-Button {
  width: 5%;
}