<div class="form-group" style="margin-left: 100px; margin-right: 50px">
    <div *ngIf="!loading && allDataLoaded">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button id="reloadProjectsBtn" type="button" class="btn btn-link btn-outline-primary" (click)="filterByCreator('all')">All</button>
            </div>               
            <div class="btn-group mr-2" role="group" aria-label="Created by">
                <button type="button" class="btn btn-link btn-outline-primary" (click)="filterByCreator('me')">My Requests</button>
                <button type="button" class="btn btn-link btn-outline-primary" (click)="filterByCreator('other')">Received Requests</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Status">
                <button type="button" class="btn btn-link btn-outline-primary" (click)="filterByState('pending')">Pending</button>
                <button type="button" class="btn btn-link btn-outline-primary" (click)="filterByState('ongoing')">Ongoing</button>
                <button type="button" class="btn btn-link btn-outline-primary" (click)="filterByState('done')">Finished</button>
            </div>
        </div>
        <div style="margin-right: 50px;">
            <div *ngFor="let item of user_projects" class="card shadow-lg rounded" style="margin-top: 40px;">
                <div class="card-header">Projects for: {{item.class.name}}
                </div>
                <div class="card-body">
                    <div *ngIf="item.projects.length">
                        <div *ngFor="let project of item.projects" class="card shadow-lg rounded" style="margin: 20px;">
                            <div class="card-header">Partner: {{project.partnerClass.name}}
                                <span *ngIf="project.state == 'ongoing'" class="badge badge-success">Ongoing</span>
                                <span *ngIf="project.state == 'done'" class="badge badge-secondary">Finished</span>
                                <span *ngIf="project.state == 'pending'" class="badge badge-warning">Pending</span>
                            </div>
                            <div class="card-body">
                                <form [formGroup]="requestInfoForm" (ngSubmit)="detailsFor(item.class, project)">
                                    <button class="btn btn-link btn-outline-primary" data-toggle="modal" data-target="#projectInfo">More</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!item.projects.length">
                        <h2>You have no requests</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loading">
        <span class="spinner-border spinner-border-sm mr-1"></span>
    </div>
    <div *ngIf="allDataLoaded" id="projectInfo" class="modal" role="document">
        <div class="modal-dialog">
            <div class="modal-content">
                <button id="modalCloseButton" type="button" class="close" data-dismiss="modal" aria-label="Close" hidden="true">
                    <span aria-hidden="true">&times;</span>
                </button>
                <app-project-info-content *ngIf="allDataLoaded" [actClass]="actClass" [actProject]="actProject" [me]="user" [closeAndReload]="closeAndReload"></app-project-info-content>
            </div>
        </div>
    </div>
</div> 