<mat-tab-group>
  <mat-tab label="View class information">
    <div class="get-class-component" style="margin-left: 50px; margin-right: 50px">
      <mat-card>
        <div fxFlex="1 1 100%" class="login-form">
          <h1>Class Information</h1>
          <br />
          <form [formGroup]="getClassForm" (ngSubmit)="getClassInformation()">
            <div class="form-groups">
              <div class="form-group">
                <label for="language">Class Name</label>
                <select  formControlName="selectedClassId" [(ngModel)]="selectedClassId" class="form-control">
                  <option [ngValue]="null" disabled>Class name</option>
                  <option *ngFor="let selectedClass of classList" [ngValue]="selectedClass.id">
                    {{selectedClass.name}}
                  </option>
                </select>
              </div>
            </div>
            <button [disabled]="loading" class="btn btn-outline-primary btn-lg btn-block btn-user" type="submit">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Get class information
            </button>
          </form>
        </div>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Assign student to class">

  </mat-tab>
</mat-tab-group>