<div fxLayout="row" fxLayoutAlign="space-around center" class="header-component">

    <a [routerLink]="['../about']">
        <img class="logo" src="/assets/logo.png"/>
    </a>


    <a>Offering</a> 
    <a>Team</a>


    <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style"> -->
    <div class="flag-background">
        <button mat-icon-button>
            <img class="flags" src="/assets/germany_round.png"/>
        </button>
        <button mat-icon-button style="margin: 10px">
            <img class="flags" src="/assets/united-kingdom_round.png"/>
        </button>
    </div>
    <!-- </mat-button-toggle-group> -->


    <button mat-icon-button  [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <a *ngIf="!loggedin" mat-menu-item [routerLink]="['../login']">Login</a>
        <button *ngIf="loggedin" mat-menu-item >My Profile</button>
        <a *ngIf="loggedin" mat-menu-item [routerLink]="['../']">Home</a>
        <button *ngIf="loggedin" mat-menu-item>Settings</button>
        <button *ngIf="loggedin" mat-menu-item>Logout</button>
    </mat-menu>

</div>