<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/css/flag-icon.min.css" />
<div style="margin-left: 50px; margin-top: 50px">
    <div>
        <h1>Let's find a partner class for you:</h1>
        <div>
            <form [formGroup]="findPartnerForm" class="class-selection">
                For which class would you like to plan next meeting?
                <select formControlName="selectedClass" (change)="classSelected()" class="form-control fa-pull-right" style="margin-right: 10vw; max-width: 300px;">
                    <option [ngValue]="null" disabled>select your class</option>
                    <option *ngFor="let selectedClass of user_classes" [ngValue]="selectedClass">{{selectedClass.name}}</option>
                </select>
                <div *ngIf="submitted && classError" style="margin-right: 50px">
                    <br>
                    <br>
                    <div class="alert alert-warning">
                        <strong>Warning!</strong> Please select a class first!
                    </div>
                </div>
            </form>
            <br>
            <br>
            <form [formGroup]="findPartnerForm" class="duration-selection">
                
                <!-- <select formControlName="selectedDuration" (change)="durationSelected()" class="form-control fa-pull-right" style="margin-right: 10vw; max-width: 300px;">
                    <option [ngValue]="null" disabled>project duration</option>
                    <option *ngFor="let selectedDuration of user_duration" [ngValue]="selectedDuration">{{selectedDuration}}</option>
                </select> -->
                <label for="projectDurationInput">What's the duration of your project (in days)?</label>
                <input id="projectDurationInput" placeholder="number of days" value="{{projectDuration}}" type="number" formControlName="projectDuration" class="form-control" style="margin-right: 10vw; max-width: 300px;">
            </form>
            <br>
            <br>
            <form [formGroup]="findPartnerForm" class="meetFrequ-selection">
                <!-- <select formControlName="selectedLangProf" (change)="langProfSelected()" class="form-control fa-pull-right" style="margin-right: 10vw; max-width: 300px;">
                    <option [ngValue]="null" disabled>language proficiency</option>
                    <option *ngFor="let selectedLangProf of user_lang_profs" [ngValue]="selectedLangProf">{{selectedLangProf}}</option>
                </select> -->
                <label for="meetingFrequencyInput">How often do you like to meet? (in days)?</label>
                <input id="meetingFrequencyInput" placeholder="days per week" value="{{meetingFrequency}}" type="number" formControlName="meetingFrequency" class="form-control" style="margin-right: 10vw; max-width: 300px;">
            </form>
            <br>
            <br>
            <form [formGroup]="findPartnerForm" class="country-selection">
                From wich country should your partner come?
                <select formControlName="selectedCountry" (change)="countrySelected()" class="form-control fa-pull-right" style="margin-right: 10vw; max-width: 300px;">
                    <option [ngValue]="null" disabled>partner country</option>
                    <option *ngFor="let selectedCountry of user_country" [ngValue]="selectedCountry">{{selectedCountry.name}}</option>
                </select>
            </form>
            <br>
            <br>
            <form [formGroup]="findPartnerForm" (ngSubmit)="onSubmit()">
                <button [disabled]="loading" class="btn btn-primary btn-block text-white btn-user" style="margin-left: 25vw; max-width: 300px;" type="submit">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Get matched!
                </button>
            </form>
        </div>
    </div>
</div>