<mat-card>
    <h2>Learning Games</h2>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile matRipple> Quiz </mat-grid-tile>
        <mat-grid-tile matRipple> Alias </mat-grid-tile>
    </mat-grid-list>
    <h2>Ice Breaker Games</h2>
    <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile matRipple> 2 Truth 1 Lie </mat-grid-tile>
        <mat-grid-tile matRipple> Draw it </mat-grid-tile>
        <mat-grid-tile matRipple> Hot Potato / Introduction </mat-grid-tile>
    </mat-grid-list>
</mat-card>