.config-card {
  margin: 1.5em;
}

.back-button {
  margin-bottom: 1em;
}

h1 {
  font-size: 140%;
}

mat-list-item {
  border-bottom: 1px solid lightgrey;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align-right {
  margin-left: auto;
}

.headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.loading {
  display: inline-block;
  margin: 2em;
  vertical-align: middle;
}