<form [formGroup]="quiz" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Name: </mat-label>
        <input type="text" matInput formControlName="name" required>
    </mat-form-field>
    <mat-form-field class="ml-4" appearance="outline">
        <mat-label>Description: </mat-label>
        <input type="text" matInput formControlName="description">
    </mat-form-field>
    <div formArrayName="questions">
        <mat-label>Questions:</mat-label>
        <div *ngFor="let question of questions.controls; let i=index">
            <button type="button" mat-icon-button aria-label="remove question" title="remove question"
                (click)="removeQuestion(i)">
                <mat-icon>delete</mat-icon>
            </button>
            <mat-form-field class="mr-2">
                <mat-select>
                    <mat-option value="" disabled>select question</mat-option>
                  <!-- <mat-option *ngFor="let quest of allQuestions" [ngValue]="questions[i]">
                        {{questions[i]}}
                    </mat-option> -->
                </mat-select>
            </mat-form-field>
            <button type="button" *ngIf="i == questions.controls.length-1" title="add question" mat-icon-button
                aria-label="add question" (click)="addQuestion()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <mat-action-row>
        <button class="btn btn-sm" [ngClass]="{'btn-success': quiz.valid, 'btn-secondary': !quiz.valid}" type="submit"
            [disabled]="!quiz.valid">Save</button>
    </mat-action-row>
</form>