<div class="navbar-component">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-0">
            <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                <div class="sidebar-brand-text mx-3"><span>GLOBY</span></div>
            </a>
            <hr class="sidebar-divider my-0">
            <ul class="nav navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" [routerLink]="['/dashboard']">
                        <i class="fas fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item dropdown" role="presentation">
                    <a class="dropdown-toggle nav-link" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-table"></i>
                        My Classes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" [routerLink]="['/class-information']">Class Information</a>
                        <a class="dropdown-item" [routerLink]="['/create-class']">Create New Class</a>
                        <a class="dropdown-item" [routerLink]="['/create-student']">Create New Student</a>
                    </ul>
                </li>
                <li class="nav-item dropdown" role="presentation">
                    <a class="dropdown-toggle nav-link" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-person-booth"></i>
                        Partner Classes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" [routerLink]="['/find-partner-class']">Find a Partner Class</a>
                        <a class="dropdown-item" [routerLink]="['/my-connection-requests']">View Connection Requests</a>

                    </ul>
                </li>
                <li class="nav-item dropdown" role="presentation">
                    <a class="dropdown-toggle nav-link" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-calendar-plus"></i>
                        Meetings
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" [routerLink]="['/plan-meeting']">Plan New Meeting</a>
                        <a class="dropdown-item" [routerLink]="['/my-meeting-requests']">Planned Meeting</a>
                    </ul>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" (click)="logout()"><i class="fas fa-arrow-left"></i><span>Logout</span></a>
                </li>
            </ul>
            <div class="text-center d-none d-md-inline"></div>
        </div>
    </nav>
</div>