<div class="navbar-component">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-0">
            <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                <div class="sidebar-brand-text mx-3"><span>GLOBY</span></div>
            </a>
            <hr class="sidebar-divider my-0">
            <ul class="nav navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item" role="presentation"><a class="nav-link active" [routerLink]="['/dashboard']" ><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/profile']"><i class="fas fa-user"></i><span>Profile</span></a></li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" [routerLink]="['/my-class']"><i class="fas fa-table"></i><span>My Class</span></a>
                    <a class="nav-link" [routerLink]="['/create-class']"><i class="fab fa-creative-commons"></i><span>Create Class</span></a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/find-partner-class']"><i class="fas fa-person-booth"></i><span>Find a partner class</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/create-student']"><i class="fas fa-user-circle"></i><span>Create Student</span></a>
                    <a class="nav-link" [routerLink]="['/plan-meeting']"><i class="far fa-calendar-plus"></i><span>Plan Meeting</span></a>
                    <a class="nav-link" [routerLink]="['/my-meeting-requests']"><i class="fas fa-share-square"></i><span>My Meeting Requests</span></a>
                    <a class="nav-link" (click)="logout()"><i class="fas fa-arrow-left"></i><span>Logout</span></a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/games-student']"><i class="fa fa-gamepad"></i><span>Games (Student)</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/games-teacher']"><i class="fa fa-gamepad"></i><span>Games (Teacher)</span></a></li>
            </ul>
            <div class="text-center d-none d-md-inline"></div>
        </div>
    </nav>
</div>
