<div class="card">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/css/flag-icon.min.css"/>
    <div class="card-header">
      <div class="left-header">
        <img class="" src="../../../assets/pexels-meliani-idriss-2982449.jpg" alt="class profile picture"> 
        <h2>{{project.partnerClass.name}}</h2>
      </div>
      <div class="right-header">
        <span class="flag-icon flag-icon-{{getFlag(project.partnerClass)}} flag-icon"></span>
      </div>
    </div>
    
    <div class="card-body">
      <div style="display: flex;">
        <span style="margin-right: 170px;">Year:</span>
        <span>Subject:</span>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">{{mapClassLevel(project.partnerClass.level)}}</div>
          <div class="col" style="margin-left: 15px;">{{project.partnerClass.subject}}</div>
        </div>
      </div>
    </div>
    
    <ul class="list-group list-group-flush">
      
      <li class="list-group-item">
        <div style="display: flex;">
          <span style="margin-right: 135px;">Language:</span>
          <span>Language proficiency:</span>
        </div>
        <div class="container">
          <div class="row">
            <div class="col">{{mapLanguage(project.partnerClass.language)}}</div>
            <div class="col" style="margin-left: 15px;">{{project.partnerClass.languageLevel}}</div>
          </div>
        </div>
      </li>
      
      <li class="list-group-item">
        <div style="display: flex;">
          <span style="margin-right: 100px;">Project duration:</span>
          <span>Meeting frequency:</span>
        </div>
        <div class="container">
          <div class="row">
            <div class="col">{{mapDuration(project.partnerClass.projectDuration)}}</div>
            <div class="col" style="margin-left: 15px;">{{mapFrequency(project.partnerClass.meetingFrequency)}}</div>
          </div>
        </div>
      </li>
    </ul>
</div>
