<form [formGroup]="task"> <!-- (ngSubmit)="onSubmit()"> -->
    <mat-form-field appearance="outline" class="mr-4">
        <mat-label>Name: </mat-label>
        <input type="text" matInput formControlName="name" required>
    </mat-form-field>
    <div>
        <mat-form-field appearance="outline" class="w-100 mr-2">
            <mat-label>Task: </mat-label>
            <input type="text" matInput formControlName="task" required>
        </mat-form-field>
    </div>

    <!-- <mat-action-row class="clear">
        <button class="btn btn-sm" [ngClass]="{'btn-success': task, 'btn-secondary': !task}"
            type="submit" >Add</button> 
    </mat-action-row>-->
</form>