<div class="container drawit-game">
    <div class="row">
        <div class="col">
            <div class="row game-header">
                <div class="col logo">Draw It</div>
                <div class="col-auto">
                    <button mat-fab color="accent" aria-label="help" (click)="toggleHelp()">
                        <mat-icon>help</mat-icon>
                    </button>
                </div>
            </div>
            <div class="row justify-content-center game-content">
                <div class="col">
                    <!-- connected but game not started yet -->
                    <div *ngIf="gamesService.connected && !gameStarted && !lastSession" class="game-content">
                        <!-- drawing player -->
                        <div class="row">
                            Welcome to the game! Please wait for all Players.
                        </div>
                    </div>

                    <!-- game is running -->
                    <div *ngIf="gamesService.connected && gameStarted" class="game-content">
                        <!-- drawing player -->
                        <div class="row" *ngIf="this.username === this.currentPlayer" class="explaining">
                            Explain the word: <span class="word">{{this.currentWord}}</span>
                            <div *ngIf="gameStarted">
                                <button class="btn btn-danger" (click)="skipWord()">Skip</button>
                                <button class="btn btn-success" (click)="correctGuess()">Correct</button>
                            </div>
                        </div>
                        <!-- guessing player -->
                        <div class="row" *ngIf="this.username !== this.currentPlayer" class="explaining">
                            <div>{{ this.currentPlayer }} is explaining. Guess the word!</div>
                        </div>
                        <!-- all players -->
                        <div class="row">
                            <div class="timer">
                                Time Left: {{this.timeLeftSeconds}} seconds.
                            </div>
                        </div>
                        <div class="row">
                            Guessed Words: {{this.numberOfGuessedWords}}
                        </div>

                    </div>
                    <!-- connecting to game -->
                    <div class="row connecting" *ngIf="!gamesService.connected">
                        Connecting...
                    </div>
                    <div class="row" *ngIf="this.lastSession">
                        GAME ENDED! <br>
                        In your last game {{this.lastSession.players}} guessed
                        {{this.lastSession.numberOfGuessedWords}}
                        words.
                    </div>
                </div>
            </div>
        </div>

        <div class="col-auto settings">
            <div class="row justify-content-end">
                <div class="players-list">
                    <div class="list-header">Connected Players:</div>
                    <div class="player" *ngFor="let playerName of this.playerList">
                        {{playerName}}
                    </div>
                </div>
            </div>
            <div class="row mt-2 mb-2 justify-content-center">
                <button class="btn btn-success" *ngIf="!gameStarted" (click)="startGame()">Start Game</button>
            </div>

            <div class="row mt-2 mb-2 justify-content-center">
                <button (click)="disconnectGame()">Disconnect</button>
            </div>
        </div>
    </div>

    <!--  <mat-dialog *ngIf="showHelp">
        <mat-dialog-title>How to play "Draw It"</mat-dialog-title>
        <mat-dialog-content>
            <div>
                Please start the game once everybody is ready.<br>Please explain the word verbally without
                using it!
                <br>If someone guesses correctly please press "correct". <br>If a word is to hard you can "skip"
                it.
            </div>
        </mat-dialog-content>
    </mat-dialog> -->

</div>