<div style="margin: 25px;">
  <h1>Get in touch with...</h1>
  <div class="card">
    <div class="card-header">
      <div class="left-header">
        <img class="" src="../../../assets/pexels-meliani-idriss-2982449.jpg" alt="class profile picture"> 
        <h2>{{actClass.name}}</h2>
      </div>
      <div class="right-header">
        <span class="flag-icon flag-icon-{{actClass.country}} flag-icon"></span>
      </div>
    </div>
    
    <div class="card-body">
      <div style="display: flex;">
        <span style="margin-right: 170px;">Year:</span>
        <span>Subject:</span>
      </div>
      <div style="display: flex;">
        <span style="margin-left: 50px; margin-right: 195px;">{{actClass.level + 3 }}</span> 
        <!-- TODO: eventually change "actClass.level" to "actClass.year" -->
        <span>{{actClass.subject}}</span>
      </div>
    </div>
    
    <ul class="list-group list-group-flush">
      
      <li class="list-group-item">
        <div style="display: flex;">
          <span style="margin-right: 135px;">Language:</span>
          <span>Language proficiency:</span>
        </div>
        <div style="display: flex;">
          <span style="margin-left: 50px; margin-right: 155px;">{{actClass.language}}</span>
          <span>{{actClass.languageLevel}}</span>
        </div>
      </li>
      
      <li class="list-group-item">
        <div style="display: flex;">
          <span style="margin-right: 60px;">Project duration (days):</span>
          <span>Meeting frequency:</span>
        </div>
        <div style="display: flex;">
          <span style="margin-left: 50px; margin-right: 150px;">{{actClass.projectDuration}}</span>
          <span>{{actClass.meetingFrequency}}x/week</span>
        </div>
      </li>
      
      <li (click)="teacherInfo()" class="list-group-item" style="cursor: pointer;">
        <h3>Your contact person:</h3>
        <div class="contact-person">
          <img class="" src="../../../assets/teacher.svg" alt="contact person profile picture"> 
          <h2>{{teacher.firstName}} {{teacher.lastName}}</h2>
        </div>
      </li>
      
    </ul>
  </div>
  <br>
  <br>
  <h1>Reach out:</h1>
  <div class="form-group" style="margin-right: 50px">
    <form [formGroup]="contactTeacherForm" (ngSubmit)="onSubmit()">
      <textarea class="form-control" rows="5" id="comment" formControlName="messageText" [(ngModel)]="messageTextValue"></textarea>
      <br>
      <button class="btn btn-outline-primary btn-lg">Let's get in touch!</button>
    </form>
    <div *ngIf=sent>
      <br>
      <div class="alert alert-success" role="alert">
        Your message was sent successfully!
      </div>
    </div>
  </div> 
</div>