<div fxLayout="row">
    <app-student-navigation></app-student-navigation>
    <div class="home-right-content" fxFlex="1 1 100%">
        <app-header></app-header>
        <div class="home-content">
            <div style="margin-right: 50px; margin-left: 50px;">
                <div *ngIf="true">
                    <h1>Your Meetings {{user_student.firstName}}!</h1>
                    <br>
                    <div class="card">
                        <div fxLayout="row" *ngIf=noMeetings>
                            <div fxFlex="0 0 80%" class="card-body">
                                <app-bbb-view></app-bbb-view>
                            </div>
                            <div class="card-body">
                                <app-games-view></app-games-view>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>