<div fxLayout="row">
  <app-student-navigation></app-student-navigation>
  <div class="home-right-content" fxFlex="1 1 100%">
    <app-header></app-header>
    <div class="home-content">
      <!-- Replace this ngIf with appropriate conditon -->
      <div *ngIf="!loading && meetings">

        <label for="level">Meeting Name</label>
        <select [(ngModel)]="selectedMeetingId">
          <option [ngValue]="null" disabled>Meeting Name</option>
          <option *ngFor="let meeting of meetings" [ngValue]="meeting.id">
            {{meeting.date}}</option>
        </select>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>


<ng-template #noMeeting>
  <div class="card-body">
    <p>You have no meetings</p>
    <!-- Your notifications -->
  </div>
</ng-template>
