<div style="margin-right: 50px; margin-left: 50px;">
    <div *ngIf=!loading>
        <h1>Your Meetings {{user_student.firstName}}!</h1>
        <br>
        <div class="card">
            <div *ngIf=false class="card-body">
                <p>You have no meetings</p>
                <div>
                    <!-- Your notifications -->
                </div>

            </div>
            <div fxLayout="row" *ngIf=noMeetings>
                <div fxFlex="0 0 80%" class="card-body">
                    <app-bbb-view></app-bbb-view>
                </div>
                <div class="card-body">
                    <app-games-view></app-games-view>
                </div>
            </div>


        </div>
    </div>
    <div *ngIf=loading>
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>