<div class="form-group" style="margin-left: 50px; margin-right: 50px">
    <div *ngIf="!loading">
        <h1>You can update your profile {{user_student.firstName}}:</h1>
        <br>
        <form [formGroup]="updateProfile" (ngSubmit)="onSubmit()">
            <div class="form-groups">
                <div class="form-group">
                    <label for="ageInput">Your age:</label>
                    <input id="ageInput" value="{{age}}" type="number" formControlName="age" class="form-control">
                </div>
                <div class="form-group">
                    <label for="hobbiesInput">Your hobbies:</label>
                    <input id="hobbiesInput" value="{{hobbies}}" type="text" formControlName="hobbies" class="form-control">
                </div>
                <div class="form-group">
                    <label for="notesInput">Your notes:</label>
                    <input id="notesInput" value="{{notes}}" type="text" formControlName="notes" class="form-control">
                </div>
                <!-- <div class="form-group">
                    <label for="proficiencyLevelInput">Your proficiency level:</label>
                    <input id="proficiencyLevelInput" value="{{proficiency_level}}" type="text" formControlName="proficiency_level" class="form-control">
                </div> -->
            </div>

            <button [disabled]="loading" class="btn btn-outline-primary btn-lg btn-block btn-user" type="submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Update your Profile!
            </button>
        </form>
    </div>
    <div *ngIf="loading">
        <span class="spinner-border spinner-border-sm mr-1"></span>
    </div>
</div> 