<div fxLayoutGap="25px" fxLayout="column" style="margin-left: 50px;">
    <form [formGroup]="clsSelecForm" class="class-selection">
        Please Choose Class:
        <select formControlName="selectedClass" (change)="classSelected()" class="form-control fa-pull-right" style="margin-right: 10vw; max-width: 300px;">
            <option [ngValue]="null" disabled>Select your class</option>
            <option *ngFor="let selectedClass of user_classes" [ngValue]="selectedClass">{{selectedClass.name}}</option>
        </select>
    </form>

    <div *ngIf="isClassSelected && projectList.length > 0; else elseBlock"> 
        <form  [formGroup]="projectSelectForm" class="project-selection">
            Please Choose Project: 
            <select formControlName="selectedProject" (change)="projectSelected()" class="form-control fa-pull-right" style="margin-right: 10vw; max-width: 300px;">
                <option [ngValue]="null" disabled>Select your Project</option>
                <option *ngFor="let selectedProject of projectList" [ngValue]="selectedProject">{{selectedProject.classname}}: {{selectedProject.schoolName}}
            </select>
        </form>
    </div>

    <ng-template #elseBlock>
        <div *ngIf="isClassSelected">
           <h1> No Project for Selected Class. </h1>
        </div>
    </ng-template>


    <div *ngIf="meetingList"> 
        <div *ngFor="let meeting of meetingList" class="card shadow-lg rounded" style="margin: 20px;">
                <div class="card-header">Date: {{meeting.date | date :'short'}} </div>
                <div fxLayout="column" class="card-body">
                    <div><span fxFlex="0 0 25%"> Group Assignment: </span> {{meeting.groupAssignment}}</div>

                    <div *ngIf="meeting.groupAssignment == 'tandem'">
                        <span fxFlex="0 0 25%"> Group Organization: </span>
                        <button (click)="loadGroupArrangement(meeting)" 
                        type="button" class="btn btn-primary btn-sm" 
                        data-toggle="modal" 
                        data-target="#exampleModal">
                            View / Edit Group Arrangement
                        </button>
                    </div>
                    <div>
                        <span fxFlex="0 0 25%"> Task Lists: </span> 
                        <button (click)="loadTaskList(meeting)" type="button" class="btn btn-warning btn-sm"
                        data-toggle="modal" 
                        data-target="#exampleModal2">
                            View/Edit Task Lists
                        </button>
                    </div>
                </div>

                <div class="card-footer text-center">
                    <button (click)="deleteMeeting(meeting.id)" class="btn btn-danger btn-sm">Delete Meeting</button>
                </div>
        </div>

        <div *ngIf="isMeetingListEmpty">
            <div *ngIf="isProjectSelected">
                <h1> No Meetings for Selected Project. </h1>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div  data-backdrop="static" data-keyboard="false" 
 class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title" id="exampleModalLabel">View/Edit Arrangement</h1>

            <div class="modal-title-label" fxLayout="column"> 
                <div fxLayout="row"><span class="my-class-label"></span><span>My Class Student</span></div>
                <div fxLayout="row"><span class="partner-class-label"></span><span>Partner Class Student</span></div>
            </div>

            <button (click)="resetTempValues()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div fxLayout="row" fxLayoutGap="25px" class="modal-body">
            <div class="students-list">
                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event, myStudentsList)">
                    <div [cdkDragDisabled]="!list.isMyClass" class="example-box" *ngFor="let list of myStudentsList" cdkDrag>{{list.firstName}}</div>
                </div>
            </div>

            <div class="students-list">
                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event, partnerStudentsList)">
                    <div [cdkDragDisabled]="!list.isMyClass" class="example-box" *ngFor="let list of partnerStudentsList" cdkDrag>{{list.firstName}}</div>
                </div>
            </div>

            <div *ngIf="displayAdditionalColumn" class="students-list">
                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event, additionalColumn)">
                    <div [cdkDragDisabled]="!list.isMyClass" class="example-box" *ngFor="let list of additionalColumn" cdkDrag>{{list.firstName}}</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        <button (click)="resetTempValues()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="saveArrangement()" [disabled]="sendingPutRequest" type="button" class="btn btn-primary">
            <span *ngIf="sendingPutRequest" class="spinner-border spinner-border-sm mr-1"></span>
            Save changes
        </button>
        </div>
    </div>
    </div>
</div>

<!-- Edit Task List -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Task List for meeting:</h5>
                <select (change)="typeSelected($event)" class="form-control form-control-sm fa-pull-right"
                    style="max-width: 200px;">
                    <option [ngValue]="null" disabled>Please Select Type of Task</option>
                    <option *ngFor="let typeOfTask of typeOfTasks">{{typeOfTask}}</option>
                </select>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div fxLayout="row" fxLayoutGap="25px" class="modal-body">

                <div class="card" style="width: 70vmax; margin-top: 50px;">
                    <div class="card-body">
                        <mat-card-header>
                            <mat-card-title>This Meeting's Tasks:</mat-card-title>
                        </mat-card-header>
                        <br>
                        <mat-card-content>
                            <div *ngIf="selectedTypeOfTask === 'quiz' && selectedQuizzes.length==0">
                                <mat-card-subtitle>No quizzes in this meeting</mat-card-subtitle>
                            </div>
                            <div *ngIf="selectedTypeOfTask === 'alias' && selectedAliases.length==0">
                                <mat-card-subtitle>No alias games in this meeting</mat-card-subtitle>
                            </div>
                            <div *ngIf="selectedTypeOfTask === 'draw-it' && selectedDrawIts.length==0">
                                <mat-card-subtitle>No draw-it games in this meeting</mat-card-subtitle>
                            </div>
                            <div *ngIf="selectedTypeOfTask === 'simple-task' && simpleTasks.length==0">
                                <mat-card-subtitle>No simple tasks in this meeting</mat-card-subtitle>
                            </div>
                            <div *ngIf="selectedTypeOfTask === 'quiz' && selectedQuizzes.length>0">
                                <mat-card-subtitle class="mt-3">Quizzes</mat-card-subtitle>
                                <mat-accordion class="headers-align">
                                    <div *ngIf="selectedQuizzes">
                                        <!--else loadingAliasContent">-->
                                        <mat-expansion-panel *ngFor="let quiz of selectedQuizzes" hideToggle>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    {{ quiz.name }}
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                    {{ quiz.description }}
                                                </mat-panel-description>
                                                <mat-icon class="headers-align-right" title="delete game"
                                                    (click)="$event.stopPropagation(); deleteTask(quiz, 'quizzes')">
                                                    delete_forever</mat-icon>
                                            </mat-expansion-panel-header>
                                        </mat-expansion-panel>
                                    </div>
                                </mat-accordion>
                            </div>
                            <div *ngIf="selectedTypeOfTask === 'alias' && selectedAliases.length>0">
                                <mat-card-subtitle class="mt-3">Alias Games</mat-card-subtitle>
                                <mat-accordion class="headers-align">
                                    <div *ngIf="selectedAliases">
                                        <!--else loadingAliasContent">-->
                                        <mat-expansion-panel *ngFor="let alias of selectedAliases" hideToggle>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    {{ alias.name }}
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                    {{ alias.description }}
                                                </mat-panel-description>
                                                <mat-icon class="headers-align-right" title="delete game"
                                                    (click)="$event.stopPropagation(); deleteTask(alias, 'aliases')">
                                                    delete_forever</mat-icon>
                                            </mat-expansion-panel-header>
                                        </mat-expansion-panel>
                                    </div>
                                </mat-accordion>
                            </div>
                            <div *ngIf="selectedTypeOfTask === 'draw-it' && selectedDrawIts.length>0">
                                <mat-card-subtitle class="mt-3">Draw-It Games</mat-card-subtitle>
                                <mat-accordion class="headers-align">
                                    <div *ngIf="selectedDrawIts">
                                        <!--else loadingAliasContent">-->
                                        <mat-expansion-panel *ngFor="let drawit of selectedDrawIts" hideToggle>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    {{ drawit.name }}
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                    {{ drawit.description }}
                                                </mat-panel-description>
                                                <mat-icon class="headers-align-right" title="delete game"
                                                    (click)="$event.stopPropagation(); deleteTask(drawit, 'drawits')">
                                                    delete_forever</mat-icon>
                                            </mat-expansion-panel-header>
                                        </mat-expansion-panel>
                                    </div>
                                </mat-accordion>
                            </div>
                            <div *ngIf="selectedTypeOfTask === 'simple-task' && simpleTasks.length>0">
                                <mat-card-subtitle class="mt-3">Simple Tasks</mat-card-subtitle>
                                <mat-accordion class="headers-align">
                                    <div *ngIf="simpleTasks">
                                        <!--else loadingAliasContent">-->
                                        <mat-expansion-panel *ngFor="let simpleTask of simpleTasks" hideToggle>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    {{ simpleTask.name }}
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                    {{ simpleTask.description }}
                                                </mat-panel-description>
                                                <mat-icon class="headers-align-right" title="delete game"
                                                    (click)="$event.stopPropagation(); deleteTask(simpleTask, 'simpleTasks')">
                                                    delete_forever</mat-icon>
                                            </mat-expansion-panel-header>
                                        </mat-expansion-panel>
                                    </div>
                                </mat-accordion>
                            </div>

                        </mat-card-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>