<div class="landing-view-background"></div>
<div class="landing-view">
  <app-landing-header></app-landing-header>
    <mat-card>
      <div class="card mx-auto bg-dark text-dark">
        <img src="../../../assets/pexels-porapak-apichodilok-346885.jpg" class="card-img">
        <div class="card-img-overlay">
          <h1 class="card-title">CONNECT STUNDENTS AROUND THE WORLD!</h1>
          <p class="card-text">We enable you to connect your students with others around the world. To bring them closer to other cultures and languages interactively and in real time. </p>
          <p class="card-text">Through live video chat and educational games your students can interact with other like-minded classes from all countries.</p>
          <p class="card-text">All this safely and in accordance with data protection regulations</p>
        </div>
      </div>
    </mat-card>
  <app-footer></app-footer>
</div>